**Inner Join**

In [4]:
SELECT 
    TOP 30 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b --- aliases making out lives easier!
INNER JOIN 
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2,257,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
Dune Messiah (Dune Chronicles #2),3.86,140,2,106
The Iliad,3.83,1726,2,1371
"Harry Potter Collection (Harry Potter, #1-6)",4.73,6,3,10
The Virtue of Selfishness: A New Concept of Egoism,3.47,53,5,665
"Sherlock Holmes: The Complete Novels and Stories, Volume I",4.45,13,5,3581
The War of Art: Break Through the Blocks & Win Your Inner Creative Battles,4.07,29,6,1319
"Harry Potter Collection (Harry Potter, #1-6)",4.73,6,7,10
The Pilgrimage,3.64,171,8,4004
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,9,8
Children of Dune (Dune Chronicles #3),3.9,116,9,112
Icy Sparks,3.68,27,9,3476
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",4.53,332,10,6
Atlas Shrugged,3.68,147,10,662
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Sherlock Holmes: The Complete Novels and Stories, Volume I",4.45,13,14,3581
The Lover,3.76,148,15,275
The Good Soldier,3.72,362,20,7628
The Thorn Birds,4.22,201,26,3412
"The Complete Sherlock Holmes, Vol 2",4.46,117,26,3586
"The Dark Tower (The Dark Tower, #7)",4.27,105,26,5091
The Lord of the Rings: Weapons and Warfare,4.53,12,29,36
Slouching Towards Bethlehem,4.24,34,29,424
Atlas Shrugged,3.68,147,29,662
"The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory",4.06,75,29,771
The Known World,3.82,42,30,67
Tropic of Cancer,3.71,205,30,249
The Odyssey,3.73,1703,30,1381

**Full Join**

In [5]:
SELECT 
    TOP 30 b.title, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
FULL JOIN
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id

title,user_id,book_id
Children of Dune (Dune Chronicles #3),1,112
NULL,1,235
NULL,1,533
NULL,1,1198
NULL,1,1874
NULL,1,2058
NULL,1,3334
NULL,2,4
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",2,11
The Ultimate Hitchhiker's Guide to the Galaxy,2,13
NULL,2,16
NULL,2,92
Dune Messiah (Dune Chronicles #2),2,106
NULL,2,113
NULL,2,233
NULL,2,247
NULL,2,380
NULL,2,408
NULL,2,439
NULL,2,479
NULL,2,516
NULL,2,619
NULL,2,1069
The Iliad,2,1371
NULL,2,1384
NULL,2,1597
NULL,2,1926
NULL,2,1967
NULL,2,1969
NULL,2,2220

In [6]:
SELECT *
FROM BooksDB.dbo.books
WHERE book_id = 235

In [7]:
SELECT 
    TOP 30 b.title, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
FULL JOIN
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id
WHERE 
    tr.user_id IS NULL

title,user_id,book_id
Fish in a Tree,NULL,NULL
Gray Mountain,NULL,NULL
النبطي,NULL,NULL
"Rebel Belle (Rebel Belle, #1)",NULL,NULL
"The Man in the Iron Mask (The D'Artagnan Romances, #3.3)",NULL,NULL
"Invasion of the Boy Snatchers (The Clique, #4)",NULL,NULL
Jamberry,NULL,NULL
The Door to December,NULL,NULL
Lassie Come-Home,NULL,NULL
"Abandon (Abandon, #1)",NULL,NULL
In Real Life,NULL,NULL
The Adventures of Tom Sawyer,NULL,NULL
"Grass for His Pillow (Tales of the Otori, #2)",NULL,NULL
"Dream Chaser (Dark-Hunter #13, Dream-Hunter #3)",NULL,NULL
The Power of Intention: Learning to Co-create Your World Your Way,NULL,NULL
5 cm,NULL,NULL
"Storm Front (The Dresden Files, #1)",NULL,NULL
"Inkdeath (Inkworld, #3)",NULL,NULL
Once a Runner,NULL,NULL
All the President's Men,NULL,NULL
By the Light of the Moon,NULL,NULL
The Christmas Wedding,NULL,NULL
Getting to Yes: Negotiating an Agreement Without Giving In,NULL,NULL
"Guardians of the West (The Malloreon, #1)",NULL,NULL
China Dolls,NULL,NULL
"Sizzling Sixteen (Stephanie Plum, #16)",NULL,NULL
"Hunted (The Iron Druid Chronicles, #6)",NULL,NULL
"Grave Dance (Alex Craft, #2)",NULL,NULL
Running Out of Time,NULL,NULL
"Neanderthal Seeks Human (Knitting in the City, #1)",NULL,NULL

**Left Join**

In [10]:
SELECT 
    TOP 10 b.title, b.average_rating, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.to_read AS tr
LEFT JOIN 
    BooksDB.dbo.books AS b
ON 
    tr.book_id = b.book_id
ORDER BY 
    b.average_rating

title,average_rating,user_id,book_id
Four Blondes,2.8,449,6613
Four Blondes,2.8,1378,6613
Four Blondes,2.8,6465,6613
Four Blondes,2.8,6700,6613
Four Blondes,2.8,7830,6613
Four Blondes,2.8,10085,6613
Four Blondes,2.8,16298,6613
Four Blondes,2.8,16845,6613
Four Blondes,2.8,17470,6613
Four Blondes,2.8,19763,6613

**Joining Multiple Tables**

In [12]:
SELECT 
    TOP 10 b.title, bt.tag_id
FROM 
    BooksDB.dbo.books AS b 
INNER JOIN 
    BooksDB.dbo.book_tags AS bt
ON 
    b.book_id = bt.goodreads_book_id

title,tag_id
"The Hunger Games (The Hunger Games, #1)",11557
"The Hunger Games (The Hunger Games, #1)",8717
"The Hunger Games (The Hunger Games, #1)",33114
"The Hunger Games (The Hunger Games, #1)",11743
"The Hunger Games (The Hunger Games, #1)",10064
"The Hunger Games (The Hunger Games, #1)",30574
"The Hunger Games (The Hunger Games, #1)",10059
"The Hunger Games (The Hunger Games, #1)",11305
"The Hunger Games (The Hunger Games, #1)",32989
"The Hunger Games (The Hunger Games, #1)",26837

In [13]:
SELECT 
    TOP 10 b.title, t.tag_name
FROM 
    BooksDB.dbo.books AS b 
INNER JOIN 
    BooksDB.dbo.book_tags AS bt
ON 
    b.book_id = bt.goodreads_book_id
INNER JOIN 
    BooksDB.dbo.tags AS t 
ON 
    bt.tag_id = t.tag_id

title,tag_name
"The Hunger Games (The Hunger Games, #1)",favorites
"The Hunger Games (The Hunger Games, #1)",currently-reading
"The Hunger Games (The Hunger Games, #1)",young-adult
"The Hunger Games (The Hunger Games, #1)",fiction
"The Hunger Games (The Hunger Games, #1)",dystopian
"The Hunger Games (The Hunger Games, #1)",to-read
"The Hunger Games (The Hunger Games, #1)",dystopia
"The Hunger Games (The Hunger Games, #1)",fantasy
"The Hunger Games (The Hunger Games, #1)",ya
"The Hunger Games (The Hunger Games, #1)",science-fiction

**HAVING vs. WHERE**

In [24]:
SELECT  
    COUNT(*) AS num_books_published
FROM 
    BooksDB.dbo.books
WHERE 
    original_publication_year > 2010 
-- GROUP BY 
--     original_publication_year
-- ORDER BY   
--     original_publication_year DESC

num_books_published
2594

In [21]:
SELECT 
    original_publication_year, 
    COUNT(*) AS num_books_published
FROM 
    BooksDB.dbo.books
GROUP BY 
    original_publication_year
HAVING
    COUNT(*) > 500
ORDER BY   
    original_publication_year DESC

original_publication_year,num_books_published
2013,518
2012,568
2011,556

In [28]:
-- What are the top 10 most popular book titles on the 'to read' list?
SELECT TOP 10 COUNT(tr.user_id) AS Amount_of_user, b.title
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY b.title
ORDER BY Amount_of_user DESC

Amount_of_user,title
1812,The Ultimate Hitchhiker's Guide to the Galaxy
1767,"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)"
1499,The Lord of the Rings: The Art of The Fellowship of the Ring
1498,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)"
1484,"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
1352,The Known World
1293,"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"
1211,The Lord of the Rings: Weapons and Warfare
1148,Notes from a Small Island
1110,"Harry Potter Collection (Harry Potter, #1-6)"